

/* FIRST BP */
@media screen and (max-width:1200px){

 .card{
   width: calc(100% / 4 - 1%);
   padding-bottom: 30px;
 }

 .menu ul li {
   padding-right: 20px;
   padding-bottom: 30px;
 }
}
/*/FIRST BP */

/*SECOND BP */

@media screen and (max-width:1024px) {

  .card{
    width: calc(100% / 2 - 1%);
    padding-bottom: 30px;
    padding-right: 20px;
  }
 
  .menu ul li {
    padding-right: 20px;
    padding-bottom: 30px;
  }
  .main-content {
    position: relative;
  }
  .upgrade-bar {
    position: absolute;
    width: 100%;
  }

  .player-left {
    width: 20%;
    flex-grow: 1;
    flex-shrink: 1;

  }

  .preferred-song {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
  }

  .preferred-song i:first-child {
    padding-right: 0;
    padding-bottom: 5px;
  }

  .player-center {
    width: calc(100% - 40%);
    flex-grow: 0;
    flex-shrink: 1;
  }

  .playing-time, .total-song-time {
    padding-right: 10px;
  }

  .player-right {
    width: 20%;
    flex-grow: 1;
    flex-shrink: 1;
  }

}
/*/SECOND BP */

/* LAST BP */
@media screen and (max-width:768px) {
  aside {
    width: 50px;
    padding: 0;
  }

  .upgrade-bar {
    width:calc(100%);

  }
  .main-content {
    width:calc(100%);
  }

  .menu ul li {
    padding-right: 60px;
    padding-bottom: 30px;
  }

  .card{
      width: calc(100% / 2 - 1%);
    }

  .logo {
    justify-content: center;
  }

  .logo img {
    display: none;
  }

  .logo .logo-small {
    height: 30px;
    display:block;
    padding-top: 5px;
  }

  .home, .search, .library {
    flex-direction: column;
    justify-content: center;
    padding-top: 10px;
  }
  .side-nav {
    padding-top: 0;
  }
  .side-nav a {
    display: none;
  }

  .playlist {
    display: none;
  }

  .app-download {
    border-bottom: none;
  }

  .profile, .app-download {
    justify-content: center;
  }

  .profile img {
    width: 30px;
    height: 30px;
  }

  .nav-bottom .app-download p,
  .nav-bottom .profile p {
    display: none;
  }

}
