/* MAIN */
main {
  height: calc(100vh - 100px);
  justify-content: flex-start;
  /* background-color: rgb(20, 25, 34); */
}

/* ASIDE */
.nav-top {
  height: calc(100% - 70px);
}

.nav-bottom {
  height: 70px;
}

.logo img {
  height:50px;
}

.logo .logo-small {
  display: none;
}

aside {
  background-color:black ;
  height:100%;
  width: 250px;
  padding: 20px;
}

.side-nav {
  flex-direction: column;
  padding-top: 25px;
}


.home, .search, .library {
  flex-direction: row;
  align-items: center;
  padding-top: 10px;
}

.side-nav img {
  color: rgb(210, 210, 210);
  height: 30px;
}

.side-nav a {
  padding-left: 10px;
  text-decoration: none;
  color: rgb(116, 116, 116);
  font-weight: bold;
}

.side-nav a:hover {
  color: white;
}

/* 
PLAYLIST
 */
.playlist p:first-child {
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 10px;

}

li:first-child {
  flex-direction: row;
  align-items: center;
}

li i:first-child {
  font-size: 60px;
  padding-right: 10px;
  padding-bottom: 10px;
}



.playlist ul li {
  color: rgb(116, 116, 116);
  list-style: none;
  font-weight: bold;
  padding-bottom: 20px;
  
}

.playlist ul li:hover {
  cursor: pointer;
  color: white;
 
}
/* /PLAYLIST */

.nav-bottom {
  flex-direction: column;

}

.nav-bottom img {
  height: 20px;
}

.app-download {
  color:  rgb(116, 116, 116);
  border-bottom: 1px solid grey;
  padding-bottom: 3px;
}

.app-download p:hover {
  color: white;

}

.app-download, .profile {
  flex-direction: row;
}

.profile {
  padding-top: 10px;
}
.app-download img {
  padding-right: 10px;
  color:  rgb(116, 116, 116);
}

.profile img {
  background-color: grey;
  border-radius: 50%;
  padding: 0;
  width: 20px;
  margin-right: 10px;
}

.profile p {
  color: white;
  font-weight: bold;
}

/* /ASIDE */


/* UPGRADE BAR */
.upgrade-bar {
  background-color:rgba(8, 11, 18, 0.9);
  text-align: right;
  line-height: 100px;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  height: 100px;
  width:calc(100% - 250px);
  z-index: 999;
}

.upgrade-btn {
  font-size: 15px;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 20px;
  padding: 10px 20px;
  margin-right: 20px;

}

.upgrade-btn:hover {
  transform: scale(1.1);
}

/* /UPGRADE BAR */

/* MAIN CONTENT */
.main-content {
  overflow-y: auto;
  height:100%;
  width: calc(100% - 250px);
  background-color:rgb(20, 25, 34);
  padding-bottom: 100px;
  padding-left: 20px;
}
/* MENU */

.menu {
  width: 100%;
  margin-top: 110px;
  justify-content: center;
  padding-bottom: 50px;
}

.menu ul {
  flex-wrap: wrap;
}

.menu ul li {
  list-style: none;
  font-weight: bold;
  padding-right: 10px;
}

.menu ul li a {
  color: rgb(116, 116, 116);
  text-decoration: none;
  text-transform: uppercase;
}

.menu ul li a:hover {
  color: white;
}

.menu ul li:first-child {
  flex-direction: column;
}

.active {
  padding-top: 5px;
  width: 40px;
  text-align: center;
  margin: auto;
  border-bottom: 1px solid rgb(151, 222, 45);
  border-bottom-width:3px ;
}
/* /MENU */

/* MUSIC CARDS */
.music-cards {
  flex-direction: row;
  padding-top: 30px;
}

.title h2 {
  font-size: 2rem;
  color: white;
  font-weight: bold;
}

.flex-wrap {
  flex-wrap: wrap;
}

.card {
  width: calc(100% / 6 - 1%) ;
  text-align: center;
  margin-right: 1%;
}

.card img {
  width: 100%;
}

.card p:first-of-type {
  text-align: center;
  margin-top: 10px;
  color: white;
  font-weight: bold;
}

.card p:nth-of-type(2){
  padding-top: 5px;
  color: rgb(116, 116, 116);
  font-weight: bold;
}

/*SECOND ROW */

.second-row {
  flex-direction: column;
  padding-top: 50px;
}

.second-row p {
  color:rgb(116, 116, 116) ;
  padding-top: 10px;
}

.popular-artist {
  border-radius: 50%;
}

/*/SECOND ROW */

/* /MUSIC CARDS */


/* /MAIN CONTENT */

footer {
  background-color:rgb(40, 40, 40);
  height: 100px;
  justify-content: space-between;
}
/* PLAYER LEFT */
.player-left {
  flex-direction:row;
  padding: 20px 10px;
  width:20%;
}

.song-name {
  align-self: center;
  padding: 20px 10px;
}

.song-name p:first-child {
  color: white;
  font-weight:bold ;
}

.song-name p:nth-of-type(2) {
  font-size: 13px;
  color: rgb(116, 116, 116);
  font-weight:bold ;
}

.preferred-song {
  padding-left: 30px;
}
.preferred-song i { 
  align-self: center;
  color:rgb(116, 116, 116) ;
}

.preferred-song i:first-child {
  padding-right: 10px;
}
/* /PLAYER LEFT */


.player-center {
  width:calc(100% - 20%);
}
.player-right {
  width:230px;
}