/* MAIN */
main {
  height: calc(100vh - 100px);
  justify-content: flex-start;
  /* background-color: rgb(20, 25, 34); */
}

/* ASIDE */

.logo img {
  height:50px;
}

.logo .logo-small {
  display: none;
}

aside {
  background-color:black ;
  height:100%;
  width: 250px;
  padding: 20px;
}

.side-nav {
  flex-direction: column;
  padding-top: 25px;
}


.home, .search, .library {
  flex-direction: row;
  align-items: center;
  padding-top: 10px;
}

.side-nav img {
  color: rgb(210, 210, 210);
  height: 30px;
}



.side-nav a {
  padding-left: 10px;
  text-decoration: none;
  color: rgb(116, 116, 116);
  font-weight: bold;
}
/* /ASIDE */


/* UPGRADE BAR */
.upgrade-bar {
  background-color:rgba(8, 11, 18, 0.4);
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  height: 100px;
  width:calc(100% - 250px);
  z-index: 999;
}

.upgrade-btn {
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  border: 1px solid white;
  border-radius: 20px;
  padding: 10px 20px;
  margin-right: 5px;
  
}
/* /UPGRADE BAR */

/* MAIN CONTENT */
.main-content {
  overflow-y: auto;
  height:100%;
  width: calc(100% - 250px);
  background-color:rgb(20, 25, 34);
}
/* /MAIN CONTENT */

footer {
  height: 100px;
  justify-content: space-between;
}

.player-left {
  width:20%;
}
.player-center {
  width:calc(100% - 40%);
}
.player-right {
  width:20%;
}