.debug {
  background-color:rgba(255, 99, 71, 0.4);
  border: 1px solid black;
}

.clearfix::after {
  content: 0;
  display: table;
  clear: both;
}

.flex-container {
  display: flex;
}

.h100 {
  height: 100px;
}

.h300 {
  height: 300px;
}

.h500 {
  height: 500px;
}